KafkaReadTopic=report.requested
KafkaProducerTopic=report-generated
KafkaBootstrapServers=host.docker.internal:9094
KafkaConsumerGroupId=reportapp
ElasticIndex=mysql-server.fin.transactions
ReportTTL=24
S3Bucket=app-gobarber-page-1
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=